

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header
{
     /* background-color:#FFFCF3;  */
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}




/* nav style */
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
    margin: 0px 200px;
}
 .nav-title{
    font-weight: 800;
    font-size:45px ;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
.text-align{
    text-align: center;
}
.secondary-background{
    background-color: #FFF8F3;
}
.dark-2{
    color:#474747;
}
nav ul{
    display: flex;
    align-items: center;
    
   
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
.btn-primary{
    /* width: 90px;
    height: 42px; */
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    border:none;

}
/* main style */
    main{
        max-width: 1140px;
        margin: 0 auto;

    }
 main section{
   margin-top: 130px;
   margin-bottom: 130px;
}
/* about style */
.about{
    
border-radius: 10px;
padding: 130px 157px;
text-align: center;

   
    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    color: #757575;
    font-size:18px ;
}

/* banner style */
.banner{
   display: flex; 
   /* margin-left:534px ; */
   justify-content: space-between;
   margin: 0px 35px 0px 200px;}
.banner-content{
    width: 589px;
    height: 417px;
}
.banner-greetings{
    font-weight:600 ;
    font-size: 45px;
    margin-top: 18px;
    /* gap: 5px; */
    
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    color:#757575 ;
    font-size: 18px;
    margin-bottom: 83px;
}


.banner-profile-picture{
    height: 676px;
    width: 584px;
}
.btn-pre-primary{
    margin-left:125px ;
    
    /* width: 200px;
    height: 64px; */
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 17px 18px 51px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    

}
.btn-post-primary{
     color:  #FD6E0A;
     border-color: #FD6E0A;
   background-color:#FFFCF3; ;
    padding: 16px 23px 17px 24px;
    width: 160px;
    height: 64px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-left:30px;
     
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
   
}
.about-item{
 
}
.item-title{
font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;

}
/* what i do style */
.what{
    margin: 0 auto;
    
    
}
.section-description{
       width: 911px; 
       margin-bottom: 50px;
    }
   
/* skill container style */
.skill{
     padding: 30px;
    box-shadow: 0px 6px 50px 0px  rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    
    /* height: 250px; */
    /* width: 360px; */
}
.skill-container{
    display: flex;
    justify-content:space-around;
    gap: 24px;
    /* width: 100px; */
    /* height: 377px; */
}
.skill-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    /* padding: 61px 18px 17px 17px; */
    /* padding: 5px; */
}
.skill-description{
   
    
}

/* resume style */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column{
    /* width: 511px; */
    /* height: 175px; */
}
.section-title{
    
    /* text-align: center; */
    margin-bottom: 113px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.exprecience{
    width: 511px;
    height: 175px;
}
.exprecience-title{
   font-size: 25px;
    font-weight: bold; 
    margin-bottom: 10px;
    margin-top: 50px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 20px;
}
.experience-description{
    font-size: 16px;
    color: #757575;
     /* margin-bottom: 30px; */
     width: 500px;
     height: 84px;
}
.resume hr{
    color: #D1D1D1;
    margin: px;
    
    
}
.btn-extra-style{
    /* 
     */
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    padding: 18px 17px 18px 51px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
     
    
    
   
}
.text-centre{
    text-align: center;
}


/* footer style */
footer{
    padding: 150px 213px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}



.secondary-background{
    

    /* .footer-item{
        display: flex;
        justify-content:center;
        text-align: center;
        align-items: center; */
    }
/* .footer-bg-colour{
     background-color: #FFF8F3;
     width: 1600px;
     height: 780px;
} */
.footer-column{
    /* margin-left: 200px;
    margin-right: 200px; */
    
}
 footer input[type="text"],footer textarea{
    height:64px ;
    width:50% ;
    border-radius: 5px;
    border: none;
    background-color: white;
    display: block;
    color:#757575 ;
    /* font-size: 16px; */
    margin-bottom: 24px;
    padding:10px 150px 10px 20px ;
    
 }
 .btn-extra-style-system{
color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    padding: 18px 39px;
 }
 .msg-style{
    padding: 18px 150px 130px 30px;
    font-size: 16px;
    
 }
  